In [121]:
#Features, iNDIPENDENT VARIABLES, CHARACTERSTICS - INPUTS
#CLASS, TARGET, DEPENTVARIABLE, - OUTPUTS 



# DATASET

#inputs                           #oUPUTS
# COUGHT | COLD | FEVER | HEADACHE | CLASS
# YES      NO       YES   YES         POSTIVE
# nO      NO       no   YES           NEAGTIBE


# 5. Number of Instances/rows: 150 (50 in each of three classes)
# 6. Number of Attributes/Columns: 4 numeric, predictive attributes and the class




#Create and save a data

import numpy as np
import pandas as pd

In [122]:
data = np.random.rand(10, 4)

In [123]:
# data = {
#     #Columnname : columnvalues
#     "key" : "values"
# }#Dictionaries

data = { 
    #                        rows, column
    "Data1" : np.random.rand(100),
    "Data2" : np.random.randn(100), 
    "Class" : np.random.choice(["yes", "No", "NOO"], size=(100))
}

In [124]:
dataframe = pd.DataFrame(data = data)

In [125]:
dataframe

       Data1     Data2 Class
0   0.416018  0.324799    No
1   0.313354  0.255461   NOO
2   0.297320  0.385437   NOO
3   0.689146 -1.252214    No
4   0.745850 -1.295870   yes
..       ...       ...   ...
95  0.991164 -0.478405   NOO
96  0.985801  0.752848    No
97  0.223802 -0.767104    No
98  0.198506  1.173591   yes
99  0.471928  0.548633   NOO

[100 rows x 3 columns]

In [17]:
dataframe.to_csv("Example.csv")

In [20]:
data = pd.read_csv("iris.csv", names=['Sepalwidth', "SpalLength", "PetalWidth", "PetalLength", "Class"])

In [25]:
data.head(1)

   Sepalwidth  SpalLength  PetalWidth  PetalLength        Class
0         5.1         3.5         1.4          0.2  Iris-setosa

In [27]:
# data.describe()

In [30]:
# data.isna().sum()

In [34]:
# data['Sepalwidth'].plot()
# data['SpalLength'].plot()

In [49]:
#SeaBorn - HeatMap
# 4, 5
#0 rows
#1 columns

a=np.round(np.random.rand(4,5), 2)
a.shape

(4, 5)

In [52]:
import seaborn as sns

In [62]:
#heatmap

# sns.heatmap(a, annot=True, cmap="Blues")

In [92]:
#                     rows, columns
# data_ = dataframe.iloc[1:10, 0:3].values

In [95]:
# type(data_)

In [114]:
datareplace = dataframe['Class'].str.replace("NOO", "No")

In [115]:
from collections import Counter
Counter(datareplace)

Counter({'No': 66, 'yes': 34})

In [128]:
# for i, val in enumerate(dataframe['Class']):
# #     print(i, val)
#     if val == "NOO":
#         dataframe['Class'][i] = "No"
#     else:
#         pass

In [127]:
# from collections import Counter
# Counter(dataframe['Class'])

Counter({'No': 72, 'yes': 28})

In [137]:
# lambda singleton function

# array = np.array([[1, 2, 3, 4],
#                   [2, 3, 4, 5]], dtype="i")

In [140]:
# array.astype("f")

array([[1., 2., 3., 4.],
       [2., 3., 4., 5.]], dtype=float32)

In [162]:
# aaa = lambda a : a**2
# # li = [aaa(i) for i in range(10)]
# aaa(100, 20)

In [ ]:
# Creating the data with numpy
# save local drive 
# Handling MIssing data replace 1 or 0, str replace 
# Manipulation of the data
#     droping, adding, multipying, adding, sub, div
# Visualizing the data by using different matplotlib

In [163]:
data_ = {
    "missingvalues" : [np.nan, 1, 2, 3, 4, np.nan]
}

In [164]:
data__ = pd.DataFrame(data=data_)

In [170]:
newcol = [1, 2, 3, 4, 5, 6]

In [174]:
newcol2 = [2, 3, 1, 4, 2, 5]

In [175]:
data__['newcol'] = newcol
data__['newcol2'] = newcol2

In [177]:
data__['added'] = data__['newcol'] + data__['newcol2']

In [178]:
data__

   missingvalues  newcol  newcol2  added
0            NaN       1        2      3
1            1.0       2        3      5
2            2.0       3        1      4
3            3.0       4        4      8
4            4.0       5        2      7
5            NaN       6        5     11

In [180]:
da=2
dd = 3
df = 4 + "a"

print(df)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
# a = (i for i in range(10))

In [28]:
# print(a)
# print(list(a))
# next(a)
# next(a)
# next(a)